/** clock.html, clock.css, clock.js 
 *  Raspberry Pi 7" touchscreen clock
 *  TechIsSoCool.com
 */
html {
    overflow: hidden;
}
body {
    margin: 0 0 0 0;
}

article {
    display:    block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
main {
    color: white;
}
.dim {
color: #555555;
}
.clockFace {
    background-color: black;
    width:  100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.time {
    height: 60vh;
    font-size: 14em;
}
.weekday {
    height: 20vh;
    font-size: 6em;
}
.date {
    height: 20vh;
    font-size: 6em;
}
#ampm {
    height: 30vh;
    font-size: 5em;
}
