/** wx.html, wx.css, wx.js 
 *  Raspberry Pi 7" touchscreen weather display
 *  TechIsSoCool.com
 */
html {
    overflow: hidden;
}
body {
    background-color: black;
}
.wx {
    color:  white;
    background-color: black;
    width:  100vw;
    height: 100vh;
    box-sizing: content-box;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#wxLocation {
    font-size: xx-small;
    border: 0px;
    padding: 0px;
}
#wxTime {
    font-size: xx-small;
    text-align: right;
    float: right;
    border: 0px;
    padding: 0px;
}
#currently {
    width: 45vw;
    height: 100%;
    text-align: center;
    display: inline-block;
    padding-left: 10px;
    border-right: 1px solid darkslategray;
}
#coming {
    width: 45vw;
    height: 100%;
    
    display: inline-block;
    text-align: center;
}
#wxCurrent {
    display: flex;
    align-items: top;
    justify-content: space-around;
}
#wxCurrent  * {
    flex: 1 1 auto;
}
.currTemp {
    height: 25vh;
    font-size: 8em;
    vertical-align: top;
    color: yellow;
}
.smallCurrTemp{
    /* Size override for 3-digit temps */
    font-size: 6em !important;
}
.wx th,td{
    width: 11vw;
    text-align: center;
    border-right: 1px solid darkslategray;
    padding: 2px;
}
.foreTemp {
    font-size: x-large;
    font-weight: bolder;
}

